{% extends "base.html" %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card card-body">
        <h1 class="h4 mb-3">Change password</h1>
        <form method="post">
          {% csrf_token %}
          {% include "records/form_errors.html" %}
          <div class="mb-3">
            <label for="{{ form.old_password.id_for_label }}" class="form-label">Current password</label>
            {{ form.old_password }}
          </div>
          <div class="mb-3">
            <label for="{{ form.new_password1.id_for_label }}" class="form-label">New password</label>
            {{ form.new_password1 }}
          </div>
          <div class="mb-3">
            <label for="{{ form.new_password2.id_for_label }}" class="form-label">Confirm new password</label>
            {{ form.new_password2 }}
          </div>
          <button type="submit" class="btn btn-primary w-100">Update password</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
